.contact {
    @include section-format;
    
    h2 {
        @include title-format;
    }
    
    &__options {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        font-size: 80px;
        
        svg {
            transition: .3s ease;   
            margin: 0 15px;
            cursor: pointer;         
        }

        svg:hover {
            color: $dark-blue;
            font-size: 100px;
        }
    }
}